<a href="https://colab.research.google.com/github/mangalammall87/deloitte/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.read_csv('shop_data.csv')

print(df.head())

  Transaction_ID Customer_Name Product_ID  Quantity  Sale_Amount Purchase_Date
0          T1001      John Doe       P102         1           50    12-05-2023
1          T1002           NaN       P101         2          100    05-12-2023
2          T1003    Jane Smith       P103         1          -50    12-05-2023
3          T1004      John Doe       P101         1        20000    13-05-2023
4          T1002           NaN       P101         2          100    05-12-2023

In [2]:
# missing values
print(df.isnull().sum())

# 'Customer_Name' is missing
df = df.dropna(subset=['Customer_Name'])

#  'Sale_Amount' and 'Purchase_Date' is missing
df = df.dropna(subset=['Sale_Amount', 'Purchase_Date'])

# fill missing non-critical columns with 'Unknown'
df['Customer_Name'].fillna('Unknown', inplace=True)

# Verify if missing values are handled
print(df.isnull().sum())

Transaction_ID    0
Customer_Name     2
Product_ID        0
Quantity          0
Sale_Amount       0
Purchase_Date     0
dtype: int64
Transaction_ID    0
Customer_Name     0
Product_ID        0
Quantity          0
Sale_Amount       0
Purchase_Date     0
dtype: int64

In [3]:
# duplicates based on 'Transaction_ID'
df = df.drop_duplicates(subset=['Transaction_ID'])


print(f"Number of rows after removing duplicates: {len(df)}")

Number of rows after removing duplicates: 22

In [5]:
# Convert the 'Purchase_Date' column to datetime
df['Purchase_Date'] = pd.to_datetime(df['Purchase_Date'], errors='coerce')

# Verify the uniform date format and check for any invalid dates (NaT)
print(df['Purchase_Date'].head())


df = df.dropna(subset=['Purchase_Date'])

0   2023-12-05
2   2023-12-05
3          NaT
5          NaT
6          NaT
Name: Purchase_Date, dtype: datetime64[ns]

In [6]:
# Remove rows where 'Sale_Amount' is negative
df = df[df['Sale_Amount'] >= 0]

# Flag or remove outliers in 'Sale_Amount', considering values over $10,000 as outliers
outlier_threshold = 10000
df = df[df['Sale_Amount'] <= outlier_threshold]


print(df['Sale_Amount'].describe())

count     1.0
mean     50.0
std       NaN
min      50.0
25%      50.0
50%      50.0
75%      50.0
max      50.0
Name: Sale_Amount, dtype: float64

In [7]:
import re

# Function to validate Product_ID
def valid_product_id(product_id):
    return bool(re.match(r'^P\d+$', product_id))

#  function to filter out invalid Product_IDs
df = df[df['Product_ID'].apply(valid_product_id)]

# Verify if invalid Product_IDs are handled
print(df['Product_ID'].head())

0    P102
Name: Product_ID, dtype: object

In [8]:
# Export the cleaned dataset to a new CSV file
df.to_csv('cleaned_shop_data.csv', index=False)


print("Cleaned data has been exported to 'cleaned_shop_data.csv'")

Cleaned data has been exported to 'cleaned_shop_data.csv'

In [10]:
import pandas as pd

df = pd.read_csv('shop_data.csv')

print(df.to_string())

   Transaction_ID Customer_Name Product_ID  Quantity  Sale_Amount Purchase_Date
0           T1001      John Doe       P102         1           50    12-05-2023
1           T1002           NaN       P101         2          100    05-12-2023
2           T1003    Jane Smith       P103         1          -50    12-05-2023
3           T1004      John Doe       P101         1        20000    13-05-2023
4           T1002           NaN       P101         2          100    05-12-2023
5           T1005  Mary Johnson       P104         1          250    14-05-2023
6           T1006   James Allen       P105         3          150    14-05-2023
7           T1007    Jane Smith       P103         2          200    15-05-2023
8           T1008  Chris Martin       P102         1           50    16-05-2023
9           T1009      John Doe       P106         4          400    17-05-2023
10          T1010   Linda Green       P107         1          -75    18-05-2023
11          T1011  Chris Martin       P108         2        30000    19-05-2023
12          T1012    Jane Smith       P103         3          150    20-05-2023
13          T1013  Robert Brown       P109         2          200    21-05-2023
14          T1014  Mary Johnson       P110         1          100    22-05-2023
15          T1015   James Allen       P105         2          100    23-05-2023
16          T1016   Linda Green       P107         1           75    24-05-2023
17          T1017      John Doe       P111         5          500    25-05-2023
18          T1018  Chris Martin       P108         3          450    26-05-2023
19          T1019  Robert Brown       P109         1          100    27-05-2023
20          T1020  Mary Johnson       P104         2          200    28-05-2023
21          T1021   James Allen       P112         2          300    29-05-2023
22          T1022   Linda Green       P113         1           75    30-05-2023
23          T1023  Robert Brown       P114         1          125    31-05-2023